<div class="container">

  <form action="" class="row mt-3 gx-3 gy-2 align-items-center justify-content-center">
    <div class="col-sm-6">
      <label for="specificSizeInputName" class="visually-hidden">Wish</label>
      <input type="text" name="new-employee-id" class="form-control" [(ngModel)]="newEmployeeId">
      <input type="text" name="new-first-name" class="form-control" [(ngModel)]="newFirstName">
      <input type="text" name="new-last-name" class="form-control" [(ngModel)]="newLastName">
    </div>
    <div class="col-auto">
      <button type="submit"
      class="btn btn-primary"
      (click)="$event.preventDefault(); addNewEmployee()"
      >Add Employee</button>
    </div>
  </form>

  <table class="table">
    <thead>
      <tr>
        <th>Employee ID</th>
        <th>First name</th>
        <th>Last name</th>
      </tr>
    </thead>
    <tbody *ngFor="let employee of employees">
      <tr>
        <td>{{employee.employeeId}}</td>
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
      </tr>
    </tbody>
  </table>
</div>